asgiref==3.11.1
dj-database-url==3.1.2
Django==6.0.5
django-filter==25.2
docxtpl==0.20.2
Jinja2==3.1.6
lxml==6.1.1
MarkupSafe==3.0.3
psycopg==3.3.4
psycopg-binary==3.3.4
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.2.2
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.15.0
